/*
#                                                                                                          #
#                                                   ____ _____ ___                                         #
#                                                  |  __|___  )   \                                        #
#                                       _   _ _   _| |__  _/ /\ O /                                        #
#                                      | | | | | | |___ \(  _)/ _ \                                        #
#                                      | |_| | |_| |___) ) / ( (_) )                                       #
#                                      | ._,_|\___/(____/_/   \___/                                        #
#                                      | |                                                                 #
#                                      |_|                                                                 #
*/

html, body
{
	font-family : sans-serif;
	background  : #111;
	margin      : 0 ;
}

#noglview, #blob
{
	display     : none;
}

/* EOF */